body{
    margin: 0px;
    padding: 0px;

}

.header {
    background-color:rgb(16, 39, 88) ;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 40px;

}

.middle{
    display: flex;
    flex-wrap: wrap;
    perspective: 500px;
    
}

.card {
    /* box-shadow: 8px 8px 10px black; */
    border-radius: 20px;
    
    background-color: blueviolet;
    height:290px;
    width: 250px;
    padding: 0px;
    /* transform-style: preserve-3d; */
    transition: 1s;
    transition-delay: 0s;
}

.hover-area:hover .card { 
    transition: 1s;

    transform:rotateY(180deg);
}

.hover-area:hover .front{
    opacity: 0;
    transition-delay: 0.3s;
}


.hover-area:hover .back{
    opacity: 1;
    transition-delay:0.3s;
}


.front{
    transition-delay: 0.25s;
    padding-left: 60px;
    padding-top: 50px;
    position: absolute;
    backface-visibility: hidden;    

    width:100px ;
    height: 100px;
}



.back{
    transform:rotateY(180deg);
    opacity: 0;
    padding: 10px;
    position: absolute;
    right:10px;
    width:200px ;
    height: 100px;
    transition-delay: 0.25s;
    
}

.hover-area{
    display:block;
    padding: 0px;
    margin: 100px;
    perspective: 500px;
}

img {
    border-radius: 100px;
    height: 130px;
    width: 130px;
}